@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: #FF6464;
  /* background: rgb(34,193,195);
  background: linear-gradient(135deg,rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%); */
  font-family: "work sans";
}

html{
  font-size: 100%;
}

/*Home Page*/
#homeheaderdesign{
  width: 100%;
  height: 100%;
  
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.content {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	color: black;
	width: 50%;
	align-content: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%)
}

/*DriveDivider*/

#driverseperatordesign{
  width: 100%;
  height: 100%;
}

#redirectiondesignAppointment{
  max-width: 300px;
  min-width: 300px;
  max-height: 500px;
  width: 80%;
  height: 50%;
  margin-top:15%;
  margin-left: 10px auto;
  background: #FF6464;
  /* background: linear-gradient(135deg,rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%); */
  border-radius: 25px;
  float: left;
}

.rowRedirectionAppointment
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  max-width: 500px;
}

#redirectiondesignVaccine{
  max-width: 300px;
  min-width: 300px;
  max-height: 500px;
  width: 80%;
  height: 50%;
  margin-top:15%;
  margin-left: 10px auto;
  background: #FF6464;
  /* background: linear-gradient(135deg,rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%); */
  border-radius: 25px;
  float: right;
}

.rowRedirectionVaccine
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  max-width: 500px;
}

.rowRedirectionAppointment button{
  align-items: center;
  border-radius: 25px;
  width: 80%;
  height: 40%;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: #FF6464;
  /* background: linear-gradient(90deg, rgba(253,187,45,1) 0%,  rgba(34,193,195,1) 100%); */
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  max-width: 300px;
  min-width: 300px;
  max-height: 700px;
}

.rowRedirectionVaccine button{
  align-items: center;
  border-radius: 25px;
  width: 80%;
  height: 40%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: green;
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  max-width: 300px;
  min-width: 300px;
  max-height: 700px;
}

.rowRedirectionAppointment button:hover{
  opacity: 0.8;
}

.rowRedirectionVaccine button:hover{
  opacity: 0.8;
}

/*LoginPage*/

#loginform{
  max-width: 500px;
  min-width: 300px;
  max-height: 800px;
  width: 30%;
  height: 80%;
  margin: 80px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}
/*SignUpPage*/

#signupform{
  max-width: 900px;
  min-width: 300px;
  max-height: 700px;
  width: 80%;
  height: 92%;
  margin: 50px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#leftHalfSignUp
{
  float:left;
  width:50%;
  height:280px;
}

#rightHalfSignUp
{
  float:right;
  width:50%;
  height:280px;
}

/*Application Form*/

.animated-time {
  width: 100%;
}

#applicationform{
  min-width: 300px;
  max-height: 700px;
  width: 100%;
  height: 80%;
  margin: 70px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

.rowCore button{
  align-items: center;
  border-radius: 25px;
  width: 30%;
  height: 40px;
  font-size: 1.0rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: green;
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row select{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.0rem;
  padding-left: 1.8rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row select:hover::-webkit-input-placeholder,
.row select:focus::-webkit-input-placeholder{
  opacity: 0;
}

.rowCore button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}

/*showcase*/
#showcaseform{
  min-width: 300px;
  max-height: 700px;
  width: 90%;
  height: 85%;
  margin: 70px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}
/*Help*/
#helpform{
  min-width: 300px;
  max-height: 700px;
  width: 35%;
  height: 100%;
  margin: 70px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

/*Doctor Form*/
#doctorform{
  min-width: 300px;
  max-height: 700px;
  width: 35%;
  height: 80%;
  margin: 70px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

/*Stock Form*/
#stockform{
  min-width: 300px;
  max-height: 700px;
  width: 35%;
  height: 75%;
  margin: 70px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}
/*Global*/

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 1rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 500px;
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.0rem;
  padding-left: 1.8rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: .5;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
}

.row button{
  align-items: center;
  border-radius: 25px;
  width: 70%;
  height: 40px;
  font-size: 1.0rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: green;
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}